<!DOCTYPE html>
<html>
<head>
    <title>Task List</title>
</head>
<body>
    <h1>Scheduled Tasks</h1>

  

    <a href="{% url 'create_task' %}">Create New Task</a>
    <ul>
        {% if tasks %}
            {% for task in tasks %}
            <li>
                {{ task.name }} - 
                {{ task.execution_time }} - 
                {% if task.is_executed %}Executed{% else %}Pending{% endif %}
            </li>
            {% endfor %}
        {% else %}
            <li>No tasks available</li>
        {% endif %}
    </ul>
</body>
</html>
